.skills__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    max-width: 968px; 
    margin: 0 auto;
    column-gap: 2rem;
    justify-content: center;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 1.5rem;
    border-radius: 1.25rem;
    transition: 0.4s;
}

.skills__content:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}

.skills__title {
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
    color: var(--title-color);
}

.skills__box {
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
}

.skills__data svg, 
.fronted-icon {
    font-size: 1rem;
    color: var(--title-color);
    margin-top: 0.15rem;
    flex-shrink: 0;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
    color: var(--text-color);
    display: block;
}

@media screen and (max-width: 1024px) {
    .skills__container {
        max-width: 800px;
        column-gap: 1rem;
    }
    
    .skills__box {
        column-gap: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        max-width: 450px;
    }
}

@media screen and (max-width: 480px) {
    .skills__box {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
    }

    .skills__content {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .skills__box {
        grid-template-columns: 1fr;
    }
}