.testimonial {
    width: 90%;
}

.testimonial__container {
    width: 750px;
}

.testimonial__card {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}    

.profile__title-box {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.testimonial__img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.testimonial__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
    color: var(--title-color);;
}

.testimonial__description {
    font-size: var(--small-font-size);
    max-height: 80px;
  overflow-y: auto;
}


/* Scroll inceltme ve gri renk verme */
p::-webkit-scrollbar {
  width: 6px;
}

p::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

p::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}


.swiper-pagination-bullet {
    background-color: var(--text-color);
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color);
}


/*========== BREAKPOİNTS ==========*/

/* For large devices */

@media screen and (max-width: 992px) {
    .testimonial__container {
        width: initial;
    }

    .testimonial__card {
        padding: 1.25rem 1.5rem;
    }
}

/* For medium devices */

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){
  
}

/* For small devices */

@media screen and (max-width: 350px){

}